*::-webkit-scrollbar {
    background-color: rgb(225, 225, 225);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.034);
    border-radius: 4px;
    width: 7px;
}

*::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-radius: 4px;
}

a {
    text-decoration: none !important;
}

.cart-con {
    min-width: 370px;
}

.rmv-btn {
    min-width: 75px;
}

.items-con {
    height:600px; 
    max-width:calc(100% - 370px)
    /* width: 100%; */
}

@media only screen and (max-width: 750px) {
    .items-cart-con {
        flex-direction: column;
    }

    .items-con, .cart-con {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

.skeleton * {
    background-color: #ededed;
    background-position:
			0 0, /* circle */
			0 0, /* highlight */
			120px 0,
			120px 40px,
			120px 80px,
			120px 120px;

    margin-bottom: 5px;
    border-radius: 5px;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }